In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

C:\Users\admin\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
df=pd.read_csv("bmi (2).csv")
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [4]:
df.dropna()

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [5]:
# TYPE CODE TO FIND MAXIMUM VALUE FROM HEIGHT AND WEIGHT FEATURE
max_vals=np.max(np.abs(df[['Height','Weight']]))
max_vals

199

In [6]:
#Perform standard scaler
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
df1=pd.read_csv("bmi (2).csv")
df1[['Height','Weight']]=sc.fit_transform(df[['Height','Weight']])
df1.head(10)

   Gender    Height    Weight  Index
0    Male  0.247939 -0.309117      4
1    Male  1.164872 -0.587322      2
2  Female  0.920357  0.123647      4
3  Female  1.531645 -0.061823      3
4    Male -1.280283 -1.391027      3
5    Male  1.164872 -0.061823      3
6    Male -1.402541 -0.432764      5
7    Male -0.974639  0.154559      5
8    Male  0.247939 -0.494587      3
9  Female -0.057706 -0.092735      4

In [7]:
#Perform minmax scaler
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df[['Height','Weight']]=scaler.fit_transform(df[['Height','Weight']])
df.head(10)

   Gender    Height    Weight  Index
0    Male  0.576271  0.418182      4
1    Male  0.830508  0.336364      2
2  Female  0.762712  0.545455      4
3  Female  0.932203  0.490909      3
4    Male  0.152542  0.100000      3
5    Male  0.830508  0.490909      3
6    Male  0.118644  0.381818      5
7    Male  0.237288  0.554545      5
8    Male  0.576271  0.363636      3
9  Female  0.491525  0.481818      4

In [8]:
#Perform Normalizer
from sklearn.preprocessing import Normalizer
df2=pd.read_csv("bmi (2).csv")
scaler=Normalizer()
df2[['Height','Weight']]=scaler.fit_transform(df2[['Height','Weight']])
df2

     Gender    Height    Weight  Index
0      Male  0.875578  0.483077      4
1      Male  0.908381  0.418144      2
2    Female  0.859536  0.511075      4
3    Female  0.882353  0.470588      3
4      Male  0.925448  0.378875      3
..      ...       ...       ...    ...
495  Female  0.700071  0.714073      5
496  Female  0.835527  0.549450      4
497  Female  0.719753  0.694230      5
498    Male  0.844819  0.535052      5
499    Male  0.797227  0.603680      5

[500 rows x 4 columns]

In [9]:
#Perform MaxAbsScaler
from sklearn.preprocessing import MaxAbsScaler
df3=pd.read_csv("bmi (2).csv")
scaler=MaxAbsScaler()
df3[['Height','Weight']]=scaler.fit_transform(df3[['Height','Weight']])
df3

     Gender    Height   Weight  Index
0      Male  0.874372  0.60000      4
1      Male  0.949749  0.54375      2
2    Female  0.929648  0.68750      4
3    Female  0.979899  0.65000      3
4      Male  0.748744  0.38125      3
..      ...       ...      ...    ...
495  Female  0.753769  0.95625      5
496  Female  0.924623  0.75625      4
497  Female  0.708543  0.85000      5
498    Male  0.753769  0.59375      5
499    Male  0.869347  0.81875      5

[500 rows x 4 columns]

In [10]:
#Perform RobustScaler
from sklearn.preprocessing import RobustScaler
df4=pd.read_csv("bmi (2).csv")
scaler=RobustScaler()
df4[['Height','Weight']]=scaler.fit_transform(df4[['Height','Weight']])
df4

     Gender    Height    Weight  Index
0      Male  0.125000 -0.178571      4
1      Male  0.660714 -0.339286      2
2    Female  0.517857  0.071429      4
3    Female  0.875000 -0.035714      3
4      Male -0.767857 -0.803571      3
..      ...       ...       ...    ...
495  Female -0.732143  0.839286      5
496  Female  0.482143  0.267857      4
497  Female -1.053571  0.535714      5
498    Male -0.732143 -0.196429      5
499    Male  0.089286  0.446429      5

[500 rows x 4 columns]

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [12]:
data=pd.read_csv("income(1) (1).csv",na_values=[" ?"])
data.head()

,age,JobType,EdType,maritalstatus,occupation,relationship,race,gender,capitalgain,capitalloss,hoursperweek,nativecountry,SalStat
0,45,Private,HS-grad,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,28,United-States,"less than or equal to 50,000"
1,24,Federal-gov,HS-grad,Never-married,Armed-Forces,Own-child,White,Male,0,0,40,United-States,"less than or equal to 50,000"
2,44,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,"greater than 50,000"
3,27,Private,9th,Never-married,Craft-repair,Other-relative,White,Male,0,0,40,Mexico,"less than or equal to 50,000"
4,20,Private,Some-college,Never-married,Sales,Not-in-family,White,Male,0,0,35,United-States,"less than or equal to 50,000"

In [13]:
data.isnull().sum()

age                 0
JobType          1809
EdType              0
maritalstatus       0
occupation       1816
relationship        0
race                0
gender              0
capitalgain         0
capitalloss         0
hoursperweek        0
nativecountry       0
SalStat             0
dtype: int64

In [14]:
missing=data[data.isnull().any(axis=1)]
missing

,age,JobType,EdType,maritalstatus,occupation,relationship,race,gender,capitalgain,capitalloss,hoursperweek,nativecountry,SalStat
8,17,NaN,11th,Never-married,NaN,Own-child,White,Female,0,0,5,United-States,"less than or equal to 50,000"
17,32,NaN,Some-college,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,"less than or equal to 50,000"
29,22,NaN,Some-college,Never-married,NaN,Own-child,White,Male,0,0,40,United-States,"less than or equal to 50,000"
42,52,NaN,12th,Never-married,NaN,Other-relative,Black,Male,594,0,40,United-States,"less than or equal to 50,000"
44,63,NaN,1st-4th,Married-civ-spouse,NaN,Husband,White,Male,0,0,35,United-States,"less than or equal to 50,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31892,59,NaN,Bachelors,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,"greater than 50,000"
31934,20,NaN,HS-grad,Never-married,NaN,Other-relative,White,Female,0,0,35,United-States,"less than or equal to 50,000"
31945,28,NaN,Some-college,Married-civ-spouse,NaN,Wife,White,Female,0,1887,40,United-States,"greater than 50,000"
31967,80,NaN,HS-grad,Widowed,NaN,Not-in-family,White,Male,0,0,24,United-States,"less than or equal to 50,000"
31968,17,NaN,11th,Never-married,NaN,Own-child,White,Male,0,0,40,United-States,"less than or equal to 50,000"

In [15]:
data2=data.dropna(axis=0)
data2.head()

,age,JobType,EdType,maritalstatus,occupation,relationship,race,gender,capitalgain,capitalloss,hoursperweek,nativecountry,SalStat
0,45,Private,HS-grad,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,28,United-States,"less than or equal to 50,000"
1,24,Federal-gov,HS-grad,Never-married,Armed-Forces,Own-child,White,Male,0,0,40,United-States,"less than or equal to 50,000"
2,44,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,"greater than 50,000"
3,27,Private,9th,Never-married,Craft-repair,Other-relative,White,Male,0,0,40,Mexico,"less than or equal to 50,000"
4,20,Private,Some-college,Never-married,Sales,Not-in-family,White,Male,0,0,35,United-States,"less than or equal to 50,000"

In [16]:
sal=data['SalStat']

In [17]:
data2['SalStat']=data2['SalStat'].map({' less than or equal to 50,000':0,' greater than 50,000':1})
print(data2['SalStat'])

0        0
1        0
2        1
3        0
4        0
        ..
31973    0
31974    0
31975    0
31976    0
31977    0
Name: SalStat, Length: 30162, dtype: int64

C:\Users\admin\AppData\Local\Temp\ipykernel_15436\784685041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['SalStat']=data2['SalStat'].map({' less than or equal to 50,000':0,' greater than 50,000':1})

In [18]:
sal2=data2['SalStat']
dfs=pd.concat([sal,sal2],axis=1)
dfs

                             SalStat  SalStat
0       less than or equal to 50,000      0.0
1       less than or equal to 50,000      0.0
2                greater than 50,000      1.0
3       less than or equal to 50,000      0.0
4       less than or equal to 50,000      0.0
...                              ...      ...
31973   less than or equal to 50,000      0.0
31974   less than or equal to 50,000      0.0
31975   less than or equal to 50,000      0.0
31976   less than or equal to 50,000      0.0
31977   less than or equal to 50,000      0.0

[31978 rows x 2 columns]

In [19]:
data2

,age,JobType,EdType,maritalstatus,occupation,relationship,race,gender,capitalgain,capitalloss,hoursperweek,nativecountry,SalStat
0,45,Private,HS-grad,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,28,United-States,0
1,24,Federal-gov,HS-grad,Never-married,Armed-Forces,Own-child,White,Male,0,0,40,United-States,0
2,44,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,1
3,27,Private,9th,Never-married,Craft-repair,Other-relative,White,Male,0,0,40,Mexico,0
4,20,Private,Some-college,Never-married,Sales,Not-in-family,White,Male,0,0,35,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31973,34,Local-gov,HS-grad,Never-married,Farming-fishing,Not-in-family,Black,Male,594,0,60,United-States,0
31974,34,Local-gov,Some-college,Never-married,Protective-serv,Not-in-family,White,Female,0,0,40,United-States,0
31975,23,Private,Some-college,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,0
31976,42,Local-gov,Some-college,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,0
31977,29,Private,Bachelors,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,0

In [20]:
new_data=pd.get_dummies(data2,drop_first=True)
new_data

,age,capitalgain,capitalloss,hoursperweek,SalStat,JobType_ Local-gov,JobType_ Private,JobType_ Self-emp-inc,JobType_ Self-emp-not-inc,JobType_ State-gov,...,nativecountry_ Portugal,nativecountry_ Puerto-Rico,nativecountry_ Scotland,nativecountry_ South,nativecountry_ Taiwan,nativecountry_ Thailand,nativecountry_ Trinadad&Tobago,nativecountry_ United-States,nativecountry_ Vietnam,nativecountry_ Yugoslavia
0,45,0,0,28,0,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,24,0,0,40,0,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,44,0,0,40,1,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,27,0,0,40,0,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,20,0,0,35,0,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31973,34,594,0,60,0,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
31974,34,0,0,40,0,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
31975,23,0,0,40,0,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
31976,42,0,0,40,0,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
31977,29,0,0,40,0,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False

FEATURE SELECTION METHOD IMPLEMENTATION

In [42]:
columns_list=list(new_data.columns)
columns_list

['age',
 'capitalgain',
 'capitalloss',
 'hoursperweek',
 'SalStat',
 'JobType_ Local-gov',
 'JobType_ Private',
 'JobType_ Self-emp-inc',
 'JobType_ Self-emp-not-inc',
 'JobType_ State-gov',
 'JobType_ Without-pay',
 'EdType_ 11th',
 'EdType_ 12th',
 'EdType_ 1st-4th',
 'EdType_ 5th-6th',
 'EdType_ 7th-8th',
 'EdType_ 9th',
 'EdType_ Assoc-acdm',
 'EdType_ Assoc-voc',
 'EdType_ Bachelors',
 'EdType_ Doctorate',
 'EdType_ HS-grad',
 'EdType_ Masters',
 'EdType_ Preschool',
 'EdType_ Prof-school',
 'EdType_ Some-college',
 'maritalstatus_ Married-AF-spouse',
 'maritalstatus_ Married-civ-spouse',
 'maritalstatus_ Married-spouse-absent',
 'maritalstatus_ Never-married',
 'maritalstatus_ Separated',
 'maritalstatus_ Widowed',
 'occupation_ Armed-Forces',
 'occupation_ Craft-repair',
 'occupation_ Exec-managerial',
 'occupation_ Farming-fishing',
 'occupation_ Handlers-cleaners',
 'occupation_ Machine-op-inspct',
 'occupation_ Other-service',
 'occupation_ Priv-house-serv',
 'occupation_ Prof-specialty',
 'occupation_ Protective-serv',
 'occupation_ Sales',
 'occupation_ Tech-support',
 'occupation_ Transport-moving',
 'relationship_ Not-in-family',
 'relationship_ Other-relative',
 'relationship_ Own-child',
 'relationship_ Unmarried',
 'relationship_ Wife',
 'race_ Asian-Pac-Islander',
 'race_ Black',
 'race_ Other',
 'race_ White',
 'gender_ Male',
 'nativecountry_ Canada',
 'nativecountry_ China',
 'nativecountry_ Columbia',
 'nativecountry_ Cuba',
 'nativecountry_ Dominican-Republic',
 'nativecountry_ Ecuador',
 'nativecountry_ El-Salvador',
 'nativecountry_ England',
 'nativecountry_ France',
 'nativecountry_ Germany',
 'nativecountry_ Greece',
 'nativecountry_ Guatemala',
 'nativecountry_ Haiti',
 'nativecountry_ Holand-Netherlands',
 'nativecountry_ Honduras',
 'nativecountry_ Hong',
 'nativecountry_ Hungary',
 'nativecountry_ India',
 'nativecountry_ Iran',
 'nativecountry_ Ireland',
 'nativecountry_ Italy',
 'nativecountry_ Jamaica',
 'nativecountry_ Japan',
 'nativecountry_ Laos',
 'nativecountry_ Mexico',
 'nativecountry_ Nicaragua',
 'nativecountry_ Outlying-US(Guam-USVI-etc)',
 'nativecountry_ Peru',
 'nativecountry_ Philippines',
 'nativecountry_ Poland',
 'nativecountry_ Portugal',
 'nativecountry_ Puerto-Rico',
 'nativecountry_ Scotland',
 'nativecountry_ South',
 'nativecountry_ Taiwan',
 'nativecountry_ Thailand',
 'nativecountry_ Trinadad&Tobago',
 'nativecountry_ United-States',
 'nativecountry_ Vietnam',
 'nativecountry_ Yugoslavia']

In [43]:
features=list(set(columns_list)-set(['SalStat']))
features

['nativecountry_ Portugal',
 'nativecountry_ England',
 'occupation_ Priv-house-serv',
 'occupation_ Armed-Forces',
 'nativecountry_ Iran',
 'maritalstatus_ Married-AF-spouse',
 'nativecountry_ Mexico',
 'EdType_ Doctorate',
 'relationship_ Not-in-family',
 'JobType_ Self-emp-not-inc',
 'JobType_ Private',
 'relationship_ Other-relative',
 'relationship_ Unmarried',
 'nativecountry_ South',
 'nativecountry_ Thailand',
 'nativecountry_ Haiti',
 'nativecountry_ Nicaragua',
 'nativecountry_ Taiwan',
 'EdType_ Some-college',
 'nativecountry_ Greece',
 'nativecountry_ Scotland',
 'JobType_ Self-emp-inc',
 'maritalstatus_ Married-civ-spouse',
 'gender_ Male',
 'nativecountry_ Japan',
 'maritalstatus_ Widowed',
 'relationship_ Own-child',
 'nativecountry_ Ecuador',
 'nativecountry_ Philippines',
 'capitalloss',
 'occupation_ Craft-repair',
 'nativecountry_ Italy',
 'JobType_ State-gov',
 'nativecountry_ Ireland',
 'occupation_ Protective-serv',
 'nativecountry_ France',
 'maritalstatus_ Never-married',
 'EdType_ Bachelors',
 'nativecountry_ China',
 'age',
 'occupation_ Other-service',
 'nativecountry_ Trinadad&Tobago',
 'EdType_ 12th',
 'nativecountry_ Puerto-Rico',
 'capitalgain',
 'occupation_ Prof-specialty',
 'EdType_ HS-grad',
 'nativecountry_ Dominican-Republic',
 'nativecountry_ Yugoslavia',
 'JobType_ Local-gov',
 'nativecountry_ Canada',
 'nativecountry_ Poland',
 'nativecountry_ Honduras',
 'EdType_ 11th',
 'nativecountry_ Hong',
 'EdType_ 7th-8th',
 'nativecountry_ Jamaica',
 'relationship_ Wife',
 'nativecountry_ Columbia',
 'occupation_ Farming-fishing',
 'maritalstatus_ Separated',
 'nativecountry_ Peru',
 'nativecountry_ Guatemala',
 'EdType_ 5th-6th',
 'occupation_ Machine-op-inspct',
 'race_ Other',
 'race_ Black',
 'occupation_ Tech-support',
 'occupation_ Transport-moving',
 'occupation_ Exec-managerial',
 'maritalstatus_ Married-spouse-absent',
 'JobType_ Without-pay',
 'EdType_ 9th',
 'EdType_ Assoc-acdm',
 'EdType_ Prof-school',
 'nativecountry_ Cuba',
 'nativecountry_ Outlying-US(Guam-USVI-etc)',
 'nativecountry_ United-States',
 'nativecountry_ Vietnam',
 'nativecountry_ Holand-Netherlands',
 'nativecountry_ Laos',
 'nativecountry_ Hungary',
 'EdType_ Assoc-voc',
 'nativecountry_ El-Salvador',
 'occupation_ Handlers-cleaners',
 'EdType_ Masters',
 'nativecountry_ Germany',
 'hoursperweek',
 'nativecountry_ India',
 'EdType_ Preschool',
 'race_ White',
 'EdType_ 1st-4th',
 'occupation_ Sales',
 'race_ Asian-Pac-Islander']

In [23]:
x=new_data[features].values
print(x)

[[False False False ... False False False]
 [False False False ... False False False]
 [False False False ... False False False]
 ...
 [False False False ... False False False]
 [False False False ... False False False]
 [False False False ... False False False]]

In [24]:
y=new_data['SalStat'].values
y

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [25]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.3,random_state=0)

In [26]:
from sklearn.neighbors import KNeighborsClassifier
KNN_classifier=KNeighborsClassifier(n_neighbors=5)
KNN_classifier.fit(train_x,train_y)

KNeighborsClassifier()

In [27]:
print(test_x.shape)

(9049, 94)

In [28]:
prediction=KNN_classifier.predict(test_x)

In [29]:
confusion=confusion_matrix(test_y,prediction)
confusion

array([[6191,  632],
       [ 817, 1409]], dtype=int64)

In [30]:
accuracy=accuracy_score(test_y,prediction)
accuracy

0.8398718090396728

In [31]:
print("Misclassified samples: %d" %(test_y!=prediction).sum())

Misclassified samples: 1449

In [32]:
data.shape

(31978, 13)

In [33]:
# Load the 'tips' dataset from seaborn
# Feature selection
tips=sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [34]:
from scipy.stats import chi2_contingency

contingency_table=pd.crosstab(tips['sex'],tips['time'])
contingency_table

time    Lunch  Dinner
sex
Male       33     124
Female     35      52

In [35]:
chi2, p, _,_=chi2_contingency(contingency_table)
print('Chi-squared statistic:', chi2)
print('p-value:', p)

Chi-squared statistic: 9.343808982970623
p-value: 0.002237400118075248

In [36]:
from sklearn.feature_selection import SelectKBest, mutual_info_classif, f_classif

data={
    'Feature1':[1,2,3,4,5],
    'Feature2':['A','B','A','B','A'],
    'Feature3':[10,20,30,40,50],
    'Target':[0,1,0,1,0],
}

df=pd.DataFrame(data)
df

   Feature1 Feature2  Feature3  Target
0         1        A        10       0
1         2        B        20       1
2         3        A        30       0
3         4        B        40       1
4         5        A        50       0

In [37]:
x=df[['Feature1','Feature3']]
y=df['Target']

In [38]:
selector=SelectKBest(score_func=mutual_info_classif,k=1)
selector.fit(x,y)

SelectKBest(k=1,
            score_func=<function mutual_info_classif at 0x000002ECC598FBA0>)

In [39]:
x_new=selector.fit_transform(x,y)
x_new

array([[10],
       [20],
       [30],
       [40],
       [50]], dtype=int64)

In [40]:
selected_features_indices=selector.get_support(indices=True)
selected_features_indices

array([1], dtype=int64)

In [41]:
selected_features=x.columns[selected_features_indices]
selected_features

Index(['Feature3'], dtype='object')